{% extends 'base.html' %}

{% block content %}
  <h2>Search Profiles</h2>
  
  <form method="get" action="{% url 'search_profiles' %}">
    <input type="text" name="q" placeholder="Search by username" required>
    <button type="submit">Search</button>
  </form>

  {% if users %}
    <h3>Search Results:</h3>
    <ul>
      {% for user in users %}
        <li><a href="{% url 'view_profile' username=user.username %}">{{ user.username }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No results found.</p>
  {% endif %}
{% endblock %}
